nav{
    background-color: rgb(38, 37, 37);
font-size: 24px;
color: aliceblue;
padding: 2%;
margin-bottom: 5%;
}
body{
    
    text-align: center;
    align-items: center;
    font-size: 20px;
    margin: 0;
}
